.SignIn{
  margin: 20px auto;
  width: 80%;
  text-anchor: #ccc;
  text-align: center;
  box-shadow: 0 20px 30px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

input {
  display: block;
  background-color: lightgrey

  
}
input:hover{
  background-color: lightgreen
}
