.RegForm {
  margin: 20px auto;
  width: 80%;
  text-anchor: #ccc;
  text-align: center;
  box-shadow: 0 20px 30px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}
button {
  background-color: red;
  color: black;
  padding: 8px;
  cursor: pointer;
  font: inherit;
  border: 1px solid blue;
}
button:hover {
  background-color: rgb(196, 228, 196);
}

input {
  display: block;
  background-color: lightgrey;
}
input:hover {
  background-color: lightgreen;
}
